
/* .select-level {
    
    width: 5.5em;
    
    font-family: inherit;  
    border: 1px solid #999;
    margin: 3px;
    font-size: 1px;
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;


}

.select-level option {
    
} */

#wrapperSelect {
    width: 200px;
    position: absolute;
    display: inline-block;
    align-items: center;

}

.select-level {
    width: auto;
    height: auto;
    position: relative;
    top: 10px;
    /* background-size: 20px; */
    /* padding: 5px 30px 5px 10px; */
    border-radius: 4px;
    /* outline: 0 none; */
    font-size: 13px;
}

.button-start {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 4px;
    top: 10px;
    float: right;
}

.select-level option {
}