.parts {
    /* width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid pink;
    border-bottom: 50px solid transparent; */
    width: 10px;
}

.default {
    height: 27px;
    width: 27px;
    padding: 0;
}

.mine {
    /* display: flex; */
    /* flex-flow: column wrap; */
    /* max-height: 500px; */
    /* height: 25px;
    width: 25px; */
    /* margin-left: 2px;
    margin-top: 4px; */
    /* float: left; */
    /* left: 100px; */
}

.btnImg {
    /* display: inline-block;
    text-align: center;
    width: 50%;
    height: 50%; */
    
}

.cell {
    width: 4px;
    height: 4px;
    /* margin: 0 auto; */
    display: inline-block;
    /* align-items: center; */
    position: relative;
    /* height: 4px; */
    /* width: 3px;
    height: 3px; */
    position: absolute;
    /* border: 1; */
    /* position: relative; */
    /* padding: 0; */
    /* height: 27px;
    width: 27px; */
    /* width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #d3d3d3; */
    /* background-color: blue; */
}
.btn {
    width: 4px;
    height: 4px;
    margin: 0 auto;
    display: inline-block;
    align-items: center;
    position: relative;
}
.partsDiv:mousedown {
    /* background-color: blue; */
}

img {
    /* height: 23px; */
    /* width: 23px; */
    /* background-size: cover; */
    /* height: 100%;
    width: 100%; */
}

/* .mineImg {
    height: 25px;
    width: 25px; 
    margin-left: 2px;
    margin-top: 4px; 
    height: auto;
    width: auto;
} */

ul {
    /* list-style: none; */
}