.land {

}

.wcell {
    height: 20px;
    width: 20px;
    /* background-color: white; */
    /* border-width: 1px; */
    border: 4px solid transparent;
    align-items: center;
    float: left;
    text-align: center;
    border-color:white darkgrey darkgrey white;
}


.wcell-md-01 {
    border-style: solid;
    /* border-color: green;
    border-color: black; */
}

/* Top side */
.wcell-side-01 {
    border-style: solid;
    
    /* border-top-width: 1px; */
    /* border-color: aqua; */
    /* border-color: black; */
}

/* Right side */
.wcell-side-02 {
    border-style: solid;
    
    /* border-right-width: 1px; */
    /* border-color: gold; */
    /* border-color: black; */
}

/* Bottom side */
.wcell-side-03 {
    border-style: solid;
    /* border-bottom-width: 1px; */
    /* border-color: palevioletred; */
    /* border-color: black; */
}

/* Left side */
.wcell-side-04 {
    border-style: solid;
    /* border-left-width: 1px; */
    /* border-color: red; */
    /* border-color: black; */
}

.wcell-corner-01 {
    border-style: solid;
    /* border-left-width: 1px;
    border-top-width: 1px; */
    /* border-top-left-radius: 40%; */
    /* border-color: black; */
}

.wcell-corner-02 {
    border-style: solid;
    /* border-width: 1px 1px 1px 1px; */
    /* border-top-right-radius: 40%; */
    /* border-color: black; */
    
}

.wcell-corner-03 {
    border-style: solid;
    /* border-width: 1px 1px 1px 1px; */
    /* border-bottom-left-radius: 40%; */
    /* border-color: black; */
}

.wcell-corner-04 {
    border-style: solid;
    /* border-width: 1px 1px 1px 1px; */
    /* border-bottom-right-radius: 40%; */
    /* border-color: black; */
}