.land {
    /* display:flex; */
    /* flex-flow:column wrap; */
    max-width:100px;
    /* float: left; */
    /* background:#ccc; */
}

.part {
    position: relative;
    /* display: flex; */
    /* flex-flow: column wrap; */
    /* max-height: 500px; */
    height: 25px;
    width: 25px;
    float: left;
    /* margin-left: 2px;
    margin-top: 4px; */
    /* left: 100px; */
}
