.land {
    /* display:flex; */
    /* flex-flow:column wrap; */
    /* width: 39.6px;
    height: 39.6px; */
    /* float: left; */
    /* background:#ccc; */
    background-color: red;
}

.part {
    /* align-items: center; */
    /* display: flex; */
    /* flex-flow: column wrap; */
    /* max-height: 500px; */
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid black;
    /* margin: 2px; */
    /* border: 1px solid black; */
    /* padding: 1px; */
    float: left;
    /* margin-left: 2px;
    margin-top: 4px; */
    /* left: 100px; */
}
.center-cell {
    height: 4px;
    width: 4px;
    background-color: white;
    align-items: center;
    border: 0.1px solid green;
    float: left;
}
.left-side {
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid red;
    align-items: center;
    float: left;
}
.right-side {
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid gold;
    align-items: center;
    float: left;
}
.top-side {
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid aqua;
    align-items: center;
    float: left;
}
.bottom-side {
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid palevioletred;
    align-items: center;
    float: left;
}

.top-left-corner {
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid black;
    align-items: center;
    float: left;
}

.top-right-corner {
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid black;
    align-items: center;
    float: left;
}

.bottom-left-corner {
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid black;
    align-items: center;
    float: left;
}

.bottom-right-corner {
    height: 4px;
    width: 4px;
    background-color: white;
    border: 0.1px solid black;
    align-items: center;
    float: left;
}